<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">
    <style>
    #form-spinner, #form-error, #form-result, .result-top-text {
      display: none;
    }
    </style>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="./script.js"></script>
    <title>JS Weather API Sample</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel panel-default">
            <div class="panel-heading" style="text-align: center">
              <div style="display: inline">
                <i class="fa fa-umbrella"></i>
                <i class="fa fa-sun-o"></i>
                <i class="fa fa-cloud"></i>
              </div>
              <h1 style="display: inline" class="panel-title">JS Weather API Sample</h1>
              <div style="display: inline">
                <i class="fa fa-umbrella"></i>
                <i class="fa fa-sun-o"></i>
                <i class="fa fa-cloud"></i>
              </div>
            </div>
            <div class="panel-body">
              <form class="form-inline" id="weather-form">
                <div class="form-group">
                  <span>Please Select→</span>
                  <select class="form-control" id="weather-form-city">
                    <option value="Hokkaidō">北海道</option>
                    <option value="Tokyo">東京</option>
                    <option value="Kanagawa-ken">神奈川</option>
                    <option value="Okinawa">沖縄</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary">Send</button>
                <i class="fa fa-spinner fa-spin" id="form-spinner" aria-hidden="true"></i>
              </form>

              <div class="alert alert-danger" id="form-error">
                <p>
                  The city name you entered above is invalid.<br>
                  Edit it and try again.
                </p>
              </div>
              <div class="result-top-text">
                <br>
                <p> Current time : <b id="result-datetime"></b></p>
                <p>The weather in <b id="result-city-name" style="color: green;"></b> is... </p>
              </div>
              <div class="alert alert-info" id="form-result">
                <!-- 取得データの結果を表示 -->
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
