.weather {
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}

.icon-rain {
  color: rgb(22, 180, 238);
}
.icon-sun {
  color: rgb(240, 107, 35);
}
.icon-cloud {
  color: rgb(187, 187, 187);
}

.weather__top {
  display: flex;
  border: 1px solid rgb(220, 208, 208);
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.weather__top--title {
  padding: 0 10px;
  text-align: center;
  display: inline;
}

.weather__main {
  padding: 10px 0;
  width: 100%;
}

.weather__main__form {
  display: flex;
  justify-content: center;
  text-align: center;
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 20px;
    width: 150px;
    height: 40px;
    margin: 0 0 0 20px;
  }
}

.weather__main__form--text {
  line-height: 40px;
}

.weather__main__form--select {
  text-align: center;
}

.weather__main__button {
}

.weather__main__button--submit {
  height: 40px;
  width: 250px;
  font-size: 20px;
  display: block;
  -webkit-appearance: none;
  margin: 10px auto;
  border-radius: 50px;
  background: rgb(102, 197, 218);
  color: white;
  font-weight: bold;
}

.weather__result__head {
  padding: 10px;
  text-align: center;
  // display: none;
}

.weather__result__head--time {
  padding-top: 10px;
  b {
    padding-left: 10px;
  }
}

.weather__result__head--text {
  padding-top: 10px;

  b {
    padding: 0 10px;
    color: #54b654;
  }
}

@keyframes rotate_anime {
  0% {
      transform:rotate(0deg);/* アニメーションの進みが0%の時の状態 */
  }
  100% {
      transform:rotate(360deg);/* アニメーションの進みが100%の時の状態 */
  }
}
.icon-spinner {
  animation: rotate_anime 1s infinite; /* rotate_animeを1秒かけて実行するのを繰り返す */
  font-size: 100px;
  color: rgba(255, 255, 255, 0.5);
}


.weather__result__main {
  border: 1px solid rgb(220, 208, 208);
  background: rgba(102, 197, 218, 0.5);
  padding: 10px;
  border-radius: 5px;
  // display: none;
  position: relative;
}

.loading {
  position: absolute;
  top: 25%;
  right: 43%;
  background: rgba(0, 0, 0, 0.5);
  padding: 50px;
  border-radius: 20px;
  display: none;
}

.weather__result__main--time {
  padding: 10px;
  display: flex;
  b {
    padding: 0 10px;
    color: rgb(84, 182, 84);
  }
}


.weather--result {
  display: flex;
  padding: 0 0 10px 100px;
  p {
    padding-right: 10px;
    vertical-align: bottom;
    line-height: 30px;
  }
  b {
    padding: 10px;
    line-height: 30px;
  }
  .icon-cloud, .icon-sun, .icon-rain {
    font-size: 25px;
  }
}



.temp--result {
  display: flex;
  padding: 0 100px 10px 0 ;
  line-height: 30px;
  b {
    padding: 0 5px 0 10px;
  }
}

.weather__result__main__weather-temp {
  display: flex;
  justify-content: space-between;
}



